.user {
    .user-info {
        display: flex;
        align-items: center;
        gap: 20px 0;
        flex-direction: column;
        .user-avatar {
            width: 150px;
            height: 150px;
        }
                .file-input {
                    display: none;
                }
        
                .custom-file-input {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: #cf881d;
                    color: #fff;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
        
                .custom-file-input:hover {
                    background-color: #cf881d;
                }
        
                .custom-file-input:active {
                    background-color: #cf881d;
                }
    }
    .user-detail {
        .user-content {
            display: flex;
            flex-direction: column;
            gap: 20px 0;
            .user-item {
                display: flex;
                align-items: center;
                .user-title {
                    width: 120px;
                    color: #000;
                }
    
                .user-value {
                    color: #5a5a5a;
                }
    
            }
        }
        .user-edit {
            display: flex;
            flex-direction: column;
            gap: 20px 0;
            .user-input {
                display: flex;
                align-items: center;
                gap: 0 30px;
                .input-label {
                    width: 120px;
                }
              
            }
        }
    }
}