.intro {
    background-color: rgba(207, 136, 29,0.6);
    .intro-content {
        display: flex;
        align-items: center; 
        gap: 0 50px;
        height: 150px;
        justify-content: space-between;
        .intro-item {
            display:  flex;
            color: #fff;
            align-items: center;
            gap:  0 15px;
            .intro-number {
                font-size: 30px;
            }
            .intro-info {
                font-size: 18px;
            }
        }
    }
}